#main-layout{
    display: flex; 
}

#layout-top-logo{
    display: flex;
    /* justify-content: center; */
    align-items: center;

    width: 1920px;
    height: 80px;

    background-color: rgba(237, 230, 230, 0.25);
    border-bottom: 1px solid rgba(216, 216, 216, 1);
}

#layout-top-logo .menu-box{
    display: flex;
    

    width: 450px;
    height: 40px;
    gap: 40px;

    margin-left: 130px;


}

#layout-top-logo .home-button,
#layout-top-logo .board-button,
#layout-top-logo .schedule-button,
#layout-top-logo .mypage-button,
#layout-top-logo .logout-button
{
    font-size: 20px;

    cursor: pointer;
}

#layout-top-logo .logo-box{
    width: 140px;
    height: 55px;

    /* background-image: url('/health-care-front/public/images/logo.png'); */
    background-size: 100% 100%;
}

#layout-top-logo .logout-mypage-box{
    display: flex;
    width: 300px;
    height: 40px;
    gap: 60px;
}





